/* Colors:
Leviathan Green: #17783B
Leviathan Blue: #1C4E55
Leviathan Light Blue: #1C4E55
*/

/* Background */
body {
	height: 100%;
	background-image: url(../background.png);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
html {
	min-height: 100%;
}

/* Header Menu Styling */
.navbar.container {
	border: 1px solid #1C4E55;
	border-top: none;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	margin-top: 0px;
	box-shadow: 8px 8px 25px #1C4E55;
}

#navbar a.logo img {
	width: 100px;
}

#navbar a.name {
	display: none;
	visibility: hidden;
}

#navbar .menu a {
	color: #1C4E55;
	padding-top: 34px;
	padding-bottom: 34px;
}

#navbar .menu a.active, #navbar .menu a.active:hover {
	background: #1C4E55;
	color: white;
}

#navbar .menu a:hover {
	background: #365E6F;
	color: white;
}

/* Page Headers */
.page-header {
	color: white;
	font-size: 34pt;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

/* The Team Page */
#playerCard {
	background-color: white;
	padding: 25px;
	height: 336px;
	border-radius: 25px;
	margin-bottom: 25px;
	border: 1px solid #1C4E55;
	box-shadow: 8px 8px 25px #1C4E55;
}

#playerCard #playerImage img {
	width: 225px;
	float: left;
}

#playerCard #playerInfo {
	margin-left: 245px;
}

#playerCard #playerName {
	font-size: 19pt;
	margin-bottom: 15px;
}

#playerCard #playerRole {
	margin-bottom: 5px;
}

#playerCard #playerSignatureHeroes {
	margin-bottom: 5px;
}

#playerCard #playerBiography{
	margin-bottom: 5px;
}

#playerCard #playerSocialMedia img {
	margin-top: 37px;
	width: 50px;
}

#playerCard #playerSocialMedia img:hover {
	opacity: .5;
}

/* The Coaching Page */
#individualCoaching {
	display: block;
	background-color: white;
	padding: 25px;
	border-radius: 25px;
	margin-bottom: 25px;
	border: 1px solid #1C4E55;
	box-shadow: 8px 8px 25px #1C4E55;
}

#teamCoaching {
	display: block;
	background-color: white;
	padding: 25px;
	border-radius: 25px;
	margin-bottom: 25px;
	border: 1px solid #1C4E55;
	box-shadow: 8px 8px 25px #1C4E55;
}

#playerCoach {
	display: block;
	background-color: white;
	padding: 25px;
	height: 336px;
	border-radius: 25px;
	margin-bottom: 25px;
	border: 1px solid #1C4E55;
	box-shadow: 8px 8px 25px #1C4E55;
}

#playerCoach #playerImage img {
	width: 225px;
	float: left;
}

#playerCoach #playerInfo {
	margin-left: 245px;
}

#playerCoach #playerName {
	font-size: 15pt;
	margin-bottom: 15px;
}

#playerCoach #playerRole {
	margin-bottom: 5px;
}

#playerCoach #playerSignatureHeroes {
	margin-bottom: 5px;
}

